{# 
* welcome.html.twig
*
#}
<div class="r-welcome">
	{{ page.welcome }}
</div>

{# <div class="r-welcome">
	<div class="r-welcome__inner container">
		<div class="r-welcome__body">
			<h2>Welkom bij Patisserie Van Gorp</h2>
			<p>Een stijlvol interieur in combinatie met de geur van versgebakken brood en andere ambachtelijke producten. Respect voor kwaliteit, rekening houdend met het goede van vroeger. Eerlijk, puur, lekker en gezond.
			</p>

		</p>Alleen de beste ingrediënten zijn goed genoeg. Al onze broden worden gebakken op basis van zuurdesem. Ook wat gebak en chocoladeartikelen betreft kiezen we voor AMBACHT.
	</p>
</div>
<div class="r-welcome__images">

	<div class="r-welcome__items">
		<img src="{{ base_path ~ directory }}/dist/images/footer-1.jpg" alt="">
		<img src="{{ base_path ~ directory }}/dist/images/footer-5.jpg" alt="">
		<img src="{{ base_path ~ directory }}/dist/images/footer-3.jpg" alt="">
		<img src="{{ base_path ~ directory }}/dist/images/footer-8.jpg" alt="">
	</div>

</div></div></div> #}
