{# 
* Menu-overlay.html.twig
* 
#}

<div class="r-menu-overlay">
	<div class="r-menu-overlay__top">
		<div class="r-menu-overlay__close js-close-menu">
			<span class="c-close-btn c-close-btn--black">&nbsp;</span>
		</div>
		<div class="r-menu-overlay__logo">
			<a href="{{ path('<front>') }}">
				<img src="{{ base_path ~ directory }}/dist/images/logo.png" alt="Logo Van Gorp">
			</a>
		</div>
	</div>

	<div class="r-menu-overlay__list">
		<div class="">
			<ul class="r-menu-overlay__items">
				<li class="r-menu-overlay__item">
					<a class="r-menu-overlay__link" href="{{ path('<front>') }}">Home</a>
				</li>
				<li class="r-menu-overlay__item">
					<a class="r-menu-overlay__link" href="{{ path('<front>') }}#r-sourdough-bread">Zuurdesembrood</a>
				</li>
				<li class="r-menu-overlay__item">
					<a class="r-menu-overlay__link" href="{{ path('<front>') }}#r-product-range">Assortiment</a>
				</li>
				<li class="r-menu-overlay__item">
					<a class="r-menu-overlay__link" href="{{ path('<front>') }}#r-contact">Contact info</a>
				</li>
			</ul>
		</div>
	</div>
</div>
