{# 
* product-range.html.twig
*
#}

<div class="r-product-range" id="r-product-range">
	<div class="r-product-range__overlay"></div>
	{{ page.productrange }}
</div>

{# <div class="r-product-range" id="r-product-range">
	<div class="r-product-range__overlay"></div>
	<div class="r-product-range__inner container">
		<div class="r-product-range__title">
			<h2>Assortiment</h2>
		</div>
		<div class="r-product-range__body">
			<p>Gebak, koffiekoeken en taarten. Alles uit eigen atelier vervaardigd met goei boter.</p>
		</div>
		<div class="r-product-range__img">
			<img src="{{ base_path ~ directory }}/dist/images/assortiment-1.jpg" alt="">
			<img src="{{ base_path ~ directory }}/dist/images/assortiment-2.jpg" alt="">
			<img src="{{ base_path ~ directory }}/dist/images/assortiment-3.jpg" alt="">
			<img src="{{ base_path ~ directory }}/dist/images/assortiment-4.jpg" alt="">
		</div>
	</div>

	<a href="#" class="c-btn c-btn--accent">
		Meer info
	</a>
</div>
<!-- end r-product-range__inner --></div> #}
