{#
/**
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 *	if there is no news an empty view is shown
 *  BEHAVIOUR IN THE ABSENCE OF RESULTS
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<div class="r-news__inner">
	<article{{attributes.addClass(classes)}}>

	{# 
	* if there is no news an empty view is shown
  * BEHAVIOUR IN THE ABSENCE OF RESULTS 
	*
	* <div class="r-news__view-empty">
  * <div class="r-news__title">
  * <h2>Zuurdesembrood</h2>
  * </div>
  * <div class="r-news__body">
  * <p>Patisserie Van Gorp is één van de pioniers in de streek als het gaat om zuurdesembrood. Brood bakken zoals het bedoeld is. Al onze broden worden gebakken op basis van zuurdesem.</p>
  * </div>
  * </div>
	#}

		<h2{{title_attributes.addClass('r-news__title')}}>
			{{ label }}
		</h2>

		<div class="r-news__body">
    
			<div class="r-news__img">
				{{ content.field_news_img }}
			</div>

			<div{{content_attributes.addClass('r-news__text')}}>
				{{ content.body }}
			</div>

		</div>

	</article>
</div>
